.hjj-menu{
  margin-top:15px;
  position:relative;
  .setTips{
    margin-top:10px;
  }
  .pre{    position: absolute;
    width: 20px;
    height: 51px;
    line-height: 51px;
    top: 0;
    left: 50px;
    font-size:20px;
  }
  .last{
    position: absolute;
    right: 50px;
    height: 51px;
    line-height: 51px;
    width: 20px;
    top: 0;
    font-size:20px;
  }
  .hjj-menu-nav-wrap{
    width:1610px;
    overflow: hidden;
    margin: 0 auto;
  }
  .hjj-menu-nav{
    text-align:center; margin:0 auto;
    overflow: hidden;
    li{
       position:relative;
       background: url(../../../assets/images/main_center_button.png) no-repeat center;
       transition: left 0.5s;
       &:hover{
          a{color:#fff;}
       }
       &.active{
           background: url(../../../assets/images/select-list-bg.png) no-repeat -153px 0;
           a{color:#fff;}
       }
       display:inline-block;
       width:161px;height: 51px; text-align: center;padding:0 8px;                                       
       &:last-child{margin-right:0;}
       a{font-size:20px;line-height: 51px;color:#00d0ff;width:100%;height:100%;display: inline-block;}
    }
  }
  .setbtn{
    position:absolute;right:0;bottom:0;cursor:pointer;
    &:hover{
      ul{display:block;}
    }
    ul{ width: 158px;
        left: -126px;
        top: 22px;
        position: absolute;
        display:none;
        z-index:1000;
        background: #0a2a6aa6;

    }
    li{
      height: 32px;
      line-height: 32px;
      font-size: 14px;
      text-align: left;
      color: #fff;
      width: 100%;
      background: none;
      &:hover{
        background:#1893e8;
      }
      i{display:inline-block;}
      a{ color:#fff;
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 0 10px;
       }
    }
    .i-setmain{
      width:32px;height:32px;display:inline-block;background:url(../../../assets/images/markpoint/main_setting_normal.png) no-repeat center;
      &:hover{background:url(../../../assets/images/markpoint/main_setting_hover.png) no-repeat center;}
      &.acitve{background:url(../../../assets/images/markpoint/main_setting_active.png) no-repeat center;}
    }
  }
  .ivu-btn{padding:0;}
  .page-save{
    margin-right: 100px;
    span{display:inline-block;height:100%;width:100%;}
    a{color:#fff;display: inline-block;
        width: 100%;
        height: 100%; padding: 6px 15px;}
  }
}
